<html>
<head>
    <style>
        * {
            font-family: Verdana;
            font-size:  35px;
            color: #cc0033;
        }
    </style>
</head>
<body>
<img src="{{ chuck }}" />
<p>
    {{ error }}
</p>
</body>
</html>